
  .alarm-section {
    background-color: #555aa3;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background-color 1s linear .5s;
  }

  .alarm-section-transition {
    background-color: #f7d959;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background-color 5s linear 1s;
  } 

  .exit {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  .logo {
      padding-bottom: 3rem;
  }

  .snooze-btn {
      height: 80px;
      width: 200px;
      border-radius: 500px;
      border: none;
      font-size: 35px;
      background-color: #FCB64E;
      border: 5px solid #FCB64E;
      transition: all .2s ease-in-out;
  }

  .snooze-btn:active {
    transform: scale(.9);
    background-color: #f7d959;
    border: 5px solid #fff;
  }

  .snooze-btn:focus {
      outline: none;
  }
  
  
.alarm-img {
    margin-bottom: 50px;
}

.alarm-img-off {
    margin-top: 30px;
    transform: rotate(180deg);
    transition: all 1s ease-in-out;
}

.alarm-off-h1 {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color: #FCB64E;
}